.view-btn{
  color: black;
  background-color: #d2c9c2;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  justify-content: center;
  align-items: center;
  // float: right;
}

.view-btn:hover{
  color: black;
  background-color: #d8beaa;
  border-radius: 5px;
  padding: 0.6rem;
  border: 1px rgb(93, 93, 93);
}
