        <!-- Hero Section Start -->
        <section class="bg-secondary pt-20 mt-5">
            <div class="max-w-1075 mx-auto banner-contents" data-aos="flip-down" data-aos-delay="300">
                <div class="row pb-12">
                    <div class="col-12 col-lg-6 mb-10">

                        <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                            <li class="blog-meta-item">
                                <a href="#">Web Development</a>
                            </li>
                            <li class="blog-meta-item">
                                <a href="#">29 January 2025</a>
                            </li>

                        </ul>


                        <h4 class="text-dark fw-bold font-Syne leading-snug banner-title">
                            Moving Cheese Removal Limited
                        </h4>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul class="d-flex flex-wrap gap-y-6 gy-lg-0 clients-info">

                            <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                                <span
                                    class="clients-info-text text-sm fw-normal font-Inter leading-tight">Category</span>
                                <h4 class="text-dark text-15 fw-bold font-sans leading-none">Website
                                </h4>
                            </li>
                            <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                                <span class="clients-info-text text-sm fw-normal font-Inter leading-tight">Start
                                    date</span>
                                <h4 class="text-dark text-15 fw-bold font-sans leading-none">
                                    21/12/ 2024</h4>
                            </li>
                            <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                                <span class="clients-info-text text-sm fw-normal font-Inter leading-tight">End
                                    date</span>
                                <h4 class="text-dark text-15 fw-bold font-sans leading-none">
                                    29/01/ 2025</h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mb-12">
                    <div class="col-12">
                        <img class="w-full rounded-20" src="../../../assets/images/projects/removal-company-project.webp" alt="banner">
                    </div>
                </div>
               <!-- <a href="https://www.movingcheeseremoval.co.uk/" target="_blank" class="view-btn">View Website</a> <br> -->
            </div>
        </section>
        <!-- Hero Section End -->


        <section class="bg-white pb-120 project-details-section">
            <div class="max-w-1075 mx-auto banner-contents">
                <div class="grid grid-cols-1">

                    <h3 class="text-32 fw-bold font-Syne leading-10 mb-4">Overview</h3>
                    <p class="paragraph mb-12">The Moving Chees Removal Ltd website is thoughtfully designed to prioritize user convenience and clarity. Featuring a clean, straightforward layout, the site makes it easy for customers to access essential moving services without hassle. Simple navigation, intuitive forms, and clear, informative content work together to create a seamless experience for individuals and businesses seeking professional moving assistance. By combining practicality with a user-friendly design, the website ensures that clients can quickly find the information they need and request services with confidence.</p>
                    <!-- <p class="paragraph mb-12">That is where I come in. To develop interactive dashboards, property listings, user profiles, and search functionality to ensure a seamless user experience. Then I will ensure the platform is fast, responsive, and scalable across devices and browsers.</p> -->
                    <ul class="list-style-squre text-dark text-xl fw-bold font-Syne mb-12 list-unstyled">
                        <li>
                            Stack: Angular, Node.Js, Express.Js & MongoDB</li>
                        <li>
                            Tools: VS Code, Postman, MongoDB Compass</li>
                    </ul>

                    <h3 class="text-32 fw-bold font-Syne leading-10 mb-4">Typography</h3>
                    <p class="paragraph mb-12">
                      The core idea behind the Moving Chees Removal Ltd website is to make booking and managing moving services as simple and stress-free as possible. The site acts as a digital front door to the company’s services, allowing users to quickly understand what’s offered, get a quote, and make inquiries with minimal effort. It’s all about reducing friction for the customer—providing a straightforward, reliable platform that supports their moving needs from start to finish.
                    </p>

                </div>
                <div class="row gy-6 mb-12">
                    <div class="col-12 col-sm-12">
                        <img class="w-100 h-100 rounded-20" src="../../../assets/images/blog-details/removal-snapshot.webp" alt="post image">
                    </div>

                </div>

                <div class="grid grid-cols-1">
                    <h3 class="text-32 fw-bold font-Syne leading-10 mb-4">Conclusion</h3>
                </div>

                <div class="row mb-n6">
                    <div class="col-12 col-lg-6 mb-6">
                        <p class="paragraph">The Moving Chees Removal Ltd website brings together clean design, practical functionality, and clear communication to deliver a smooth, user-focused experience. By making it easy to explore services, request quotes, and get the information customers need, the platform reinforces the company’s commitment to reliable, hassle-free moving solutions. </p>
                    </div>
                    <div class="col-12 col-lg-6 mb-6">
                        <p class="paragraph">
                            Whether for homes or businesses, the site ensures that every customer feels supported and confident from their first click to the final move.
                        </p>
                    </div><br>


                </div>
                <div class="mt-5">
 <!-- <a href="https://www.movingcheeseremoval.co.uk/" target="_blank" class="view-btn">View Website</a> <br> -->
                </div>

            </div>
        </section>

