        <!-- Hero Section Start -->
        <section class="bg-secondary pt-20 mt-5">
            <div class="max-w-1075 mx-auto banner-contents" data-aos="flip-down" data-aos-delay="300">
                <div class="row pb-12">
                    <div class="col-12 col-lg-6 mb-10">

                        <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                            <li class="blog-meta-item">
                                <a href="#">Web Development</a>
                            </li>
                            <li class="blog-meta-item">
                                <a href="#">23 June 2025</a>
                            </li>

                        </ul>


                        <h4 class="text-dark fw-bold font-Syne leading-snug banner-title">
                            Real Estate Market Place
                        </h4>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul class="d-flex flex-wrap gap-y-6 gy-lg-0 clients-info">

                            <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                                <span
                                    class="clients-info-text text-sm fw-normal font-Inter leading-tight">Category</span>
                                <h4 class="text-dark text-15 fw-bold font-sans leading-none">Web App
                                </h4>
                            </li>
                            <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                                <span class="clients-info-text text-sm fw-normal font-Inter leading-tight">Start
                                    date</span>
                                <h4 class="text-dark text-15 fw-bold font-sans leading-none">
                                    23/06/ 2025</h4>
                            </li>
                            <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                                <span class="clients-info-text text-sm fw-normal font-Inter leading-tight">End
                                    date</span>
                                <h4 class="text-dark text-15 fw-bold font-sans leading-none">
                                    23/08/ 2025</h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mb-12">
                    <div class="col-12">
                        <img class="w-full rounded-20" src="../../../assets/images/projects/realestate-project1.png" alt="banner">
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section End -->


        <section class="bg-white pb-120 project-details-section">
            <div class="max-w-1075 mx-auto banner-contents">
                <div class="grid grid-cols-1">

                    <h3 class="text-32 fw-bold font-Syne leading-10 mb-4">Overview</h3>
                    <p class="paragraph mb-12">The Real Estate Platform is crafted to deliver a sleek, intuitive, and powerful digital experience for users seeking to buy, rent, or sell property. Blending elegant design with robust functionality, it offers comprehensive features such as interactive dashboards, dynamic property listings, integrated payment solutions, and real-time notifications. Optimized for speed and responsiveness, this platform serves as a premium, conversion-focused hub for real estate transactions. By streamlining workflows and enhancing engagement, it empowers agents, property owners, and prospective buyers or tenants to achieve their goals with ease and confidence.</p>
                    <p class="paragraph mb-12">That is where I come in. To develop interactive dashboards, property listings, user profiles, and search functionality to ensure a seamless user experience. Then I will ensure the platform is fast, responsive, and scalable across devices and browsers.</p>
                    <ul class="list-style-squre text-dark text-xl fw-bold font-Syne mb-12 list-unstyled">
                        <li>
                            Stack: Angular, Node.Js, Express.Js & MongoDB</li>
                        <li>
                            Tools: VS Code, Postman, MongoDB Compass</li>
                    </ul>

                    <h3 class="text-32 fw-bold font-Syne leading-10 mb-4">Typography</h3>
                    <p class="paragraph mb-12">
                       The Real Estate Platform is built to centralize and simplify all aspects of property transactions in one modern, user-friendly environment. Whether users want to buy, rent, or sell, the platform provides them with powerful tools to discover listings, compare options, complete payments, and receive updates in real time. By combining beautiful design with strong functionality, the platform aims to become the go-to digital destination for real estate interaction—helping agents, property owners, and clients connect efficiently and achieve their goals effortlessly.
                    </p>

                </div>
                <div class="row gy-6 mb-12">
                    <div class="col-12 col-sm-12">
                        <img class="w-100 h-100 rounded-20" src="../../../assets/images/blog-details/shortlets.png" alt="post image">
                    </div>

                </div>

                <div class="grid grid-cols-1">
                    <h3 class="text-32 fw-bold font-Syne leading-10 mb-4">Conclusion</h3>
                </div>

                <div class="row mb-n6">
                    <div class="col-12 col-lg-6 mb-6">
                        <p class="paragraph">The Real Estate Platform is designed to offer a sleek, intuitive, and powerful digital experience for
users looking to buy, rent, or sell property. It combines aesthetic design with robust functionality — including
dashboards, listings, payment integration, and notifications — all while maintaining optimal speed and
responsiveness. </p>
                    </div>
                    <div class="col-12 col-lg-6 mb-6">
                        <p class="paragraph">
                            This platform will serve as a premium, conversion-optimized hub for real estate interaction,
helping agents, property owners, and users achieve their goals effortlessly.
                        </p>
                    </div>


                </div>
            </div>
        </section>
